.button-container {
    padding: 24px;
    display: flex;
    flex-direction: row-reverse; 

    .button {
        margin-left: 8px;
    }
}
.data-grid-container {
    width: 100%;
    height: 80vh;
    padding: 24px;
}

.add-item-form {
    padding: 24px;
    display: flex;
    flex-direction: column;
    
    .form-input {
        margin: 16px;
    }
}



.add-button-container {
    display: flex;
    flex-direction: row-reverse;
}