.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;

  background-image: url("../assets/warehouse-bg.jpg");
  background-size: cover;

  .form-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 25vw;
    min-width: 380px;

    background-color: rgba(255, 255, 255, 0.9);
    backdrop-filter: blur(4px);
    border-radius: 10px;
    padding: 32px;

    .form-input {
      width: 100%;
      margin: 8px;
    }

    .form-button {
      margin-top: 32px;
    }
  }
}

.form-title-container {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #1976d2;
  margin: 32px;

  .form-title {
    font-size: 1.5em;
    font-weight: bolder;
    margin-left: 16px;
  }
}
